<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" />
            <img src="{{ absolute_url(asset('imgs/descarga.png')) }}" />
        {% endblock %}
    </head>
    <body>
      <h1>Alteracion llevada a cabo con exito</h1>


    </body>
</html>